.stationery-toolbox {

    .stationery-toolbox-item {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        height: 48px;

        .stationery-toolbox-label {
            margin-right: auto;

            .stationery-toolbox-checkbox {
                vertical-align: text-bottom;
            }


        }

        .stationery-toolbox-value {
            min-width: 4em;
            text-align: end;
        }
    }
}
